*{
    color: black;
    font-family: monospace;
}

#container,
#display{
    display: inline-block;
    border: 2px solid black;
}

#display{
    display: inline-block;
    
}

#answer{
    border: 2px solid blue;
    width: 600px;
    height: 300px;
}

#prompt{
    border: 2px solid red;
    width: 600px;
    height: 100px;
}

p,
button{
    margin: 10px;
}
#set-info{
    display: flex;
}
.static{
    margin-left: -3px;
}

#window{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#window>p,
#window>button{
    margin:12px 10px;
}

.hidden{
    color: white;
}


